/* 
    Elements
*/

html {
    font-size: 14px;
    /* rem units are relative to this font-size. */
}

body {
    background-color: #fafafa;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

/* Tables */
td {
    display: flex;
    flex-flow: column nowrap;
}

tbody {
    /* Applying these rules to <table> has no effect. A <tbody> is inserted between <table> and <tr>. */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

td:last-child {
    margin-bottom: 1rem;
}

#resultsDisplay tr:nth-child(2n) {
    background-color: #e9ecef;
}

tr.desktop {
    display: none;
}

/* 
    Classes
*/

.mobile {
    display: inline;
    color: #757575
}

.desktop {
    color: #757575
}

.navbar {
    background-color: #4caf50;
    color: #fff;
}

.navbar-brand {
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
    /* This is a single page app so the anchor doesn't really do anything. */
}

.jumbotron button {
    background-color: #03A9F4;
    color: #fff;
    /* This fits the color scheme better than the bootstrap primary button color. */
}

/* 
    IDs
*/

#actionBar, #newItemDialog, #errorsDisplay, #resultsDisplay {
    margin-bottom: 2rem;
}


/* 
    Media Queries
*/

@media (min-width: 940px) {
    /* Elements */
    tbody {
        display: table-row-group;
    }
    td {
        display: table-cell;
    }

    
    /* Classes */
    .mobile {
        display: none;
    }

    tr.desktop {
        display: table-row;
    }
    

    /* IDs */
}