/* 
    Elements
*/

html {
    font-size: 14px;
    /* rem units are relative to this font-size. */
}

body {
    background-color: #fafafa;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

/* Input */
input[type="number"] {
    width: 6rem;
    /* Aids browser consistency */
}

input.upc[type="number"] {
    -moz-appearance: textfield; /* Remove selector arrows in Firefox. */
    width: 8.5rem; /* Set length suitable for 12 variable width numerals. */
}

input.upc::-webkit-inner-spin-button,
input.upc::-webkit-outer-spin-button {
    /* Remove selector arrows in Webkit browsers. */
    -webkit-appearance: none;
    -margin: 0;
}


/* Tables */
td {
    display: flex;
    flex-flow: column nowrap;
}

tbody {
    /* Applying these rules to <table> has no effect. A <tbody> is inserted between <table> and <tr>. */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

td:last-child {
    margin-bottom: 1rem;
    /* Puts some breathing room between items in the results. */
}

#resultsDisplay tr:nth-child(2n) {
    background-color: #e9ecef;
    /* Alternate shading on results items for ease of use. */
}

tr.desktop {
    display: none;
    /* Mobile first; defaults to none and is later changed in a media query. */
}

/* 
    Classes
*/

.mobile {
    display: inline;
    color: #757575
    /* Mobile first; display defaults to inline and is later changed in a media query. */
}

.desktop {
    color: #757575
}

.navbar {
    background-color: #4caf50;
    color: #fff;
}

.navbar-brand {
    color: #fff;
}

.jumbotron button {
    background-color: #03A9F4;
    color: #fff;
    /* This fits the color scheme better than the bootstrap primary button color. */
}

/* 
    IDs
*/

#newItemDialog, #errorsDisplay, #resultsDisplay {
    margin-bottom: 2rem;
    /* Provides visual seperation of main elements. */
}

#navbar, #actionBar {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    /* Mobile first; defaults for responsive navbar. */
}

#actionBar {
    width: 100%;
}


/* 
    Media Queries
*/

/* Switches navbar into large screen mode. */
@media (min-width: 825px) {
    #navbar, #actionBar {
        display: block;
    }
    
    #actionBar {
        width: auto;
    }
}

/* Switches tables into large screen mode. */
@media (min-width: 940px) {
    /* Elements */
    tbody {
        display: table-row-group;
    }
    td {
        display: table-cell;
    }

    
    /* Classes */
    .mobile {
        display: none;
    }

    tr.desktop {
        display: table-row;
    }
    

    /* IDs */
}