/* 
    Elements
*/

html {
    font-size: 14px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

/* Tables */
td {
    display: block;
}

td:last-child {
    margin-bottom: 1rem;
}

tr.desktop {
    display: none;
}

/* 
    Classes
*/


/* 
    IDs
*/

#actionBar, #newItemDialog, #errorsDisplay, #resultsDisplay {
    margin-bottom: 2rem;
}


/* 
    Media Queries
*/

@media (min-width: 1200px) {
    /* Elements */
    td {
        display: table-cell;
    }

    tr.desktop {
        display: table-row;
    }

    /* Classes */

    /* IDs */
}